* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 200vh;
}

.left-menu {
    border: 1px solid black;
    background-color: #1992D4;
    color: white;
    padding: 20px;
    height: 200vh;
}

.left-menu h1 {
    display: flex;
    align-items: center;
}

.left-menu h4 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 35px;
    transition: all 500ms ease;
}

.left-menu h4:hover {
    cursor: pointer;
    background-color: rgb(10, 114, 170);
    transform: scale(1.1);
}

/*                         */

.right-menu {
    display: flex;
    flex-direction: column;
    height: 200vh;
}

.right-menu .top { 
    padding: 20px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px;
}

.right-menu .part1 {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.right-menu .part1-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.right-menu .part1-left input {
    border-radius: 10px;
    background-color: #E2E8F0;
}

.right-menu .part1-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.right-menu .part1 img {
    transition: transform 500ms ease;
}

.right-menu .part1 img:hover {
    cursor: pointer;
    transform: scale(1.1);
}



.right-menu .part2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 5px;
}

.right-menu .part2-left {
    display: flex;
    gap: 10px;
}

.right-menu .part2-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.right-menu .part2-right div {
    background-color: #1992D4;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: white;
    text-align: center;
    align-content: center;
    transition: all 500ms ease;
}

.right-menu .part2-right div:hover {
    cursor: pointer;
    background-color: rgb(10, 114, 170);
    transform: scale(1.1);
}

/*                               */

.bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    background-color: #E2E8F0;
    height: 200vh;
}

.bottom-left .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    gap: 20px;
}

.bottom-left .project-cards > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 200px;
    width: 350px;
    background-color: white;
    box-shadow: hsl(39, 100%, 51%) 8px 0px 0px 0px inset, rgb(0 0 0 / 20%) 2px 2px;;
    border-radius: 5px;
}

.bottom-left .project-cards > div > .left-card-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.bottom-left .project-cards > div > .left-card-buttons img {
    transition: transform 500ms ease;
}

.bottom-left .project-cards > div > .left-card-buttons img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.bottom-right {
    display: grid;
    grid-template-rows: 40px 1fr 40px 1fr;
    height: 100vh;
}

.bottom-right h3 {
    margin-top: 10px;
}

.bottom-right .announcement-cards {
    padding: 20px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 2px 2px 2px;
}
.bottom-right .trending-cards {
    padding: 20px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 2px 2px 2px;
}
